@import "../../assets/styles/base/_resets";
@import "../../assets/styles/base/_typography";
@import "../../assets/styles/_variables";

.why {
  width: 800px;
  margin: 200px auto;
  
  h3 {
    text-align: center;
    margin: 80px 0;
    font-size: 44px;
    color: $dark-grey;
  }

  p {
    margin: 30px 0;
    color: $light-grey;
  }

  div {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;

    img {
      height: 225px;
      width: 300px;
    }
  }
}

.sessions {
  width: 800px;
  margin: 200px auto;
  display: flex;
  flex-direction: column;

  h3 {
    text-align: center;
    margin: 60px 0;
    font-size: 44px;
    color: $dark-grey;
  }

  hr {
    width: 50px;
    height: 5px;
    background-color: $primary;
    margin: auto;
  }

  p {
    margin: 20px 0;
    color: $light-grey;

    span {
      // font-size: 18px;
      // color: $dark-grey;
      font-weight: bold;
      margin-right: 5px;
    }
  }

  img {
    width: 450px;
    height: 300px;
    margin: 70px auto;
  }
}